body{
    background-color:black ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    
    
}

#silkroad{
    background-color:rgb(29, 29, 29) ;
}


#a{
    padding-top: 1%;
    padding-left: 2%;
}

a.v {

    font-size: 100%;
    transition: font-size 0.2s ease;
    text-decoration: none;
    padding-left: 20px;

}

#ff{
width:100% ;
    height: auto;
 }


#x{
    padding-left: 2%;
    font-size: 65%;
}

.link{
    font-size: 100%;
    transition: font-size 0.2s ease;
    text-decoration: none;
  }

  .x{
    border-left: 2%;

}

a.link{

    padding-left: 8%;

}
#ful{

    padding-left: 2%;
}


*{

    color: white;
}
